{% extends 'backend/base_files/base_login_reg.html' %}

{% block title %} Login {% endblock %}

{% block header %}
    Login
{% endblock %}

{% block form_action %}{% url 'login' %}{% endblock %}

{% block content %} 
    {% csrf_token %}
    
    <div class="col-12">
        <input type="email" name="email" id="email" placeholder="Enter your email" class="form-control" aria-description="Email">
    </div>
    <div class="col-12">
        <input type="password" name="password" id="password" placeholder="Enter your password" class="form-control" aria-description="Password">
    </div>
        
    <div class="col-12 text-start">
       {% for choices in form.role %}
           {{ choices }}
       {%  endfor %}
    </div>
        
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <a href="{% url 'register' %}">
            Don't have an account? Register
        </a>
    </div>
{% endblock %}