{% extends 'backend/base_files/base_login_reg.html' %}

{% block title %} Registration {% endblock %}

{% block header %} Register {% endblock %}

{% block form_action %}{% url 'register' %}{% endblock %}

{% block content %}
    {%  csrf_token %}
    
    <div class="col-md-6">
       {{ form.first_name }} 
    </div>
    <div class="col-md-6">
        {{ form.last_name }}
    </div>
    <div class="col-md-8">
        {{ form.email }}
    </div>
    <div class="col-md-4">
        {{ form.dob }}
    </div>
    <div class="col-12">
        {{ form.password }}
    </div>
    <div class="col-md-6">
        {{ form.contact_no }}
    </div>
    <div class="col-md-4">
        {{ form.country }}
    </div>
    <div class="col-md-2">
        {{ form.city }}
    </div>
    <div class="col-12">
        {{ form.role }}
    </div>
    
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Register</button>
        <br>
        <a href="{% url 'login' %}">Already have an account?</a>
    </div>
{% endblock %}
