{% extends 'backend/base_files/base_course.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/submit_assessment_style.css' %}">
{% endblock %}

{% block content %}
  <h2>Submit Assessment</h2>
  <form id="submit-assessment-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/submit_assessment_script.js' %}"></script>
{% endblock %}
